<body style="/*background-image: url(assets/img/background_gradient.png?h=3d64b2b8a735847606d75de03d631130);*/background-repeat: no-repeat;background-size: cover;">
<div style="display: grid;grid-template-columns: 1fr 2fr;grid-gap: 5px;">
    <div style="width: 100%;/*background-image: url(assets/img/background_gradient.png?h=3d64b2b8a735847606d75de03d631130);*/background-repeat: no-repeat;background-size: cover;padding: 5px;"><a href="profile"><h1 style="color: #fcfcfc;background: linear-gradient(to right, #ff6341, rgb(255,0,107));">Profile</h1></a><a href="sign_in"><h1 style="color: #fcfcfc;background: linear-gradient(to right, #ff6341, rgb(255,0,107));">Log out</h1></a></div>
    <div style="width: 100%;/*background-image: url(assets/img/background_gradient.png?h=3d64b2b8a735847606d75de03d631130);*/background-repeat: no-repeat;background-size: cover;padding: 5px;"><a href="profile"><h1 style="color: #fcfcfc;background: linear-gradient(to right, #ff6341, rgb(255,0,107));">Profile</h1></a><a href="sign_in"><h1 style="color: #fcfcfc;background: linear-gradient(to right, #ff6341, rgb(255,0,107));">Log out</h1></a></div>
    <div style="min-height: 500px;text-align: center;border-left: 1px solid pink;padding: 10rem;"><img src="img/proicon.jpg?h=cd7d00e2b94284971690ea76cd0900ef" style="width: 10rem;border-radius: 100px;"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>