<!--<h1>{{title}}</h1>-->
<!--<p>Welcome to {{title}}</p>-->

<body style="background-image: url(img/bg.jpg?h=8603ac5c444afc1d3ffff51371c6a4b1);background-repeat: no-repeat;background-size: cover;">
<nav class="navbar navbar-light navbar-expand-md"
     style="background: rgba(0,0,0,0.4);box-shadow: 0px 0px 13px 20px rgba(0,0,0,0.39);border: none;">
    <div class="container"><img src="img/tinderlogo.png?h=23689c0c67de0114b91d4993d2073ec7"
                                style="/*background-size: 50px;*/width: 35px;margin-top: 5px;"><a class="navbar-brand"
                                                                                                  href="#"
                                                                                                  style="color: #ffffff;font-size: 35px;font-weight: 600;">tinder</a>
        <div class="collapse navbar-collapse" id="navcol-1"
             style="background-color: transparent;">
            <ul class="nav navbar-nav mr-auto"></ul>
            <span class="navbar-text actions"> <a class="login" href="sign_in"
                                                  style="color: #fff;margin: 5px 21px 0px 0px;">Sign In</a><a
                    class="btn btn-light" role="button" href="sign_up"
                    style="border-radius: 5px;padding: 5px 10px;background: #fefefe;font-weight: 600;color: rgb(249,19,116);">Sign Up</a></span>
        </div>
    </div>
</nav>
<div class="jumbotron"
     style="text-align: center;margin: 50px;background: rgba(0,0,0,0.2);border-radius: 5px;box-shadow: 0 0 50px rgba(0,0,0,0.23);">
    <h1 style="color: #fff;font-size: 65px;font-weight: 750;">Swipe Right</h1>
    <p style="color: #fff;"><br>There really is something for everyone on Tinder. Want to get into a relationship? You
        got it. Trying to find some new friends? Say no more. New kid on campus and looking to make the most of your
        college experience? Tinder U’s got you covered.
        Tinder isn’t your average dating site — it’s the most diverse dating app, where adults of all backgrounds and
        experiences are invited to make connections, memories, and everything in between.<br><br></p>
    <p></p>
</div>
<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Tinder clone app</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula
                        rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel
                        in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
                        class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-google"></i></a><a
                        href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">LeVanSon-Tinder Clone App © 2021</p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>